body{
  
  margin: 0px;
  width: 100%;
  padding: 0px;
  height: 100%;
  background-color: hsla(89, 43%, 51%, 0.3)
  
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.display-head {
      display:inline;
      background-color: rgb(252, 253, 242);
      
      
  }

nav li {
      
      height : 20px;
      margin-right : 150px;
      margin-left: 70px;
      padding-left: 5px;
      text-align: center;
    }




     td, th {

      border: 3px solid rgb(19, 1, 1);
      text-align: left;
      padding: 5px;
      font-family: Times;
      background-color: rgb(209, 211, 175);

    }
    td{
      font-family: Helvetica;
    }

    .section1{
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 100%;
      text-align: center;
    }

    .h3style{
      border: solid rgb(12, 12, 12)olid;
      width: 400px;
      margin: auto;
      height: 30px;
      float: inline-start;
      background-color:rgb(12, 12, 11);
      font-family: "Lucida Console";
      color: rgb(245, 233, 231);
      padding-top: 10px;
      
    }


ol.b{
  width: auto;
  height: auto;
  width: fit-content;
  padding-left: 40%;
  padding-bottom: 30px;
  

  
  
}
    .storesInfo{
  
      float: left;
      height: 400px; 
      width: fit-content;
      padding-left: 10px;  

    }

    .detalis{
      font-family: Helvetica;
      color: rgb(88, 67, 6);
      background-position: center;
      font-size: large;
      height: 50px;
      padding-top: 10px;
      background-image:  url("https://addons-media.operacdn.com/media/CACHE/images/themes/25/37025/1.0-rev1/images/3b245e8f-9b75-434f-92e8-a10de1d5ef0e/1185b4f35a9a79f6f4d4ed01dfd8cd09.jpg");
    }

  ul{
    display: inline;
  }

   fieldset{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: burlywood;
  }
  #forms{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .startStyle{
    padding-left: 50px;
  }

  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: rgb(8, 8, 8);
    text-align: center;
    background-color: burlywood;
  }

  .icons{
    float: left;
    display: inline;
    padding-bottom: 20px;
    padding-left: 10px;
    
}
.photo{
  display: inline;
  
}

#centre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-left: 335px;
  padding-top: 5px;
  
}

p{
  font-family: Helvetica;

}
.severalPhotos{
  display: inline;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.orders{
  display: inline;
  width: auto;
  padding-left: 145px;
  
  
}


 